{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container home-container">
  <div class="row">
    <h1 class="home-logo">Lightheadedandco</h1>
  </div>
  <div class="row">
    <h4>
      <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase">Browse
        Products</a>
    </h4>
  </div>
</div>
{% endblock %}