{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container .wishlist-row">
  <div class="row">
    <div class="col">
      <hr>
      <h2 class="logo-font mb-4">My Wishlist</h2>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="view-wishlist table-responsive">
        <table class="table table-sm table-border-bottom">
          <thead>
            <tr>
              <th></th>
              <th>Item</th>
              <th>Price</th>
              <th>Rating</th>
              <th>View Item</th>
              <th>Remove</th>
          </thead>
          <tbody>
            {% for product in wishlist.wishlist_items.all %}
            <tr>
              <td class="p-3 w-25">
                <img class="img-fluid rounded" src="{{ product.image.url }}">
              </td>
              <td class="py-3">
                <p class="my-0"><strong>{{ product.name }}</strong></p>
                <p class="my-0 small text-muted">SKU: {{ product.sku|upper }}</p>
              </td>
              <td class="py-3">
                <p class="my-0">${{ product.price }}</p>
              </td>
              <td class="py-3">
                <p class="my-0">{{ product.rating }}</p>
              </td>
              <td class="py-3">
                <a class="btn-edit" href="{% url 'product_detail' product.id %}">View item</a>
              </td>
              <td class="py-3">
                <a class="btn-delete" href="{% url 'remove_from_wishlist' product.id %}">Remove</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
    {% endblock %}


  </div>

  {% block postloadjs %}
  {{ block.super }}
  <script src="{% static 'profiles/js/countryfield.js' %}"></script>
  {% endblock %}