<!-- Footer -->
<footer class="footer mt-auto py-3 dark-bg">
    <div class="footer-text text-white align-center">
        <p class="m-0 text-center">Follow us:
            <a class="text-white" href="https://www.facebook.com/profile.php?id=61571129445797" target="_blank"
                role="button" rel="noopener" aria-label="Visit our Facebook page (opens in a new tab)"><i
                    class="fab fa-facebook-square ms-3"></i></a>
            <i class="fab fa-twitter-square ms-3"></i>
            <i class="fab fa-instagram-square ms-3"></i>
            <i class="fab fa-youtube-square ms-3"></i></p>
    </div>
</footer>